.product{
    width: 400px;
    height: 510px;
    
    position: relative;
    background-color: antiquewhite;
    box-shadow: 3px 3px white, 0.5em 0 .4em rgb(218, 215, 174);

}
.product img{
    width: 286px;
    height: 286px;
}

.products-container{
display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 40px;
}
.product-name{
    font-weight: bold;
    line-height: 16px;
}
.product-info{
    margin-bottom: 0;
}
.btn-cart{
    width: 100%;
    background-color: orange;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

}
.btn-cart:hover{
    cursor: pointer;
    background-color: rgb(194, 128, 5);
}
.btn-text{
    margin-right: 5px;
}
@media only screen and (max-width: 600px) {
.products-container{
display: grid;
grid-template-columns: 1fr;
gap: 5px;
}
}
